.Contenedor {
    max-width: 380px;
    max-height: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.ImagenTop {
    text-align:center;
}

.btnLogin{
    margin-top:10px;
    margin-left:auto;
    margin-right:auto;
}

.tituloLogin{
    text-align:center;
    color:#0120aa
}
